.menu-item {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.selected {
    background-color: thistle;
}

.menu-item:hover{
    cursor:pointer;
}